{% load staticfiles %}
{# Usage example: {% static "/my_app/myexample.jpg" %}#}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> The Image Matching Project</title>
        <link rel="stylesheet" href="{% static "css/search.css" %}" />
        <script type="text/javascript"></script>
    </head>
    <body>
        <div id="title">
            <h1>Search by Image</h1>
        </div>

        <div id="input">
            <div>
                <form id="upload_form" action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button id="upload-button" type="submit">Search</button>
                    <!--<div id="status">Choose file to upload </div>-->
                </form>
            </div>
            {% block query %}
            {% endblock %}
        </div>

        {% block result %}
        {% endblock %}
    </body>
</html>
